.applicant__page-title{
    padding-top: 130px;
    padding-bottom: 60px;
}

.applicant-promo__group{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    gap: 10px;
    margin-bottom: 150px;
}

.applicant__main-link{
    font-size: var(--medium-card-size);
    color: var(--new-bg-color);
    background-color: var(--dark-color);
    line-height: 1;
    padding: 63px 88px;
    display: flex;
    align-items: center;
    gap: 12px;
    grid-column: span 4;
}

.applicant__main-link-img{
    width: 18px;
    height: 18px;
}

.applicant__links{
    grid-column: span 8;
}

.applicant__link{
    display: flex;
    align-items: center;
    gap: 36px;
    padding-top: 41px;
    padding-bottom: 41px;
    border-bottom: 0.5px solid #9e9e9e;
    padding-left: 47px;
    font-weight: 400;
    font-size: 30px;
    line-height: var(--lineright-110);
    color: #000;
}

.applicant__link:first-child{
    border-top: 0.5px solid #9e9e9e;
}

/* slider */

.aplicant-slider {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    overflow: hidden;
}

.aplicant-slider .container{
    margin-right: 0;
    width: 100%;
    max-width: 100%;
    padding-left: 40px;
}

.swiper-applicant{
    min-height: 250px;
    height: 566px;
    width: 100%;
}


.swiper-applicant .swiper-wrapper{
    align-items:center;
}

.swiper-applicant .swiper-slide{
    width: 80%;
    max-width: 942px;
    height: 100%;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.swiper-applicant .swiper-slide-active {
    opacity: 1;
    transform: scale(1.05); /* Активный слайд немного больше */
    z-index: 2;
}



.swiper-applicant .swiper-slide img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    position: absolute;
    bottom: -40px !important;
    z-index: 2;
}

/* slider */

.applicant-info{
    margin-bottom: 200px;
}

.divide{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    position: relative;
    padding-bottom: 90px;
}


.divide::before{
    content: '';
    position: absolute;
    display: block;
    width: 100vw;
    height: 0.5px;
    background-color: #9e9e9e;
    margin-bottom: 30px;
    left: -40px;
    top: -30px;
}



.divide .section-title{
    grid-column: span 4;
}

.aplicant-grid{
    grid-column: span 8;
    grid-template-columns: repeat(8, 1fr);
    display: grid;
    gap: 10px;
}

.aplicant-grid .field-stud-card{
    grid-column: span 4;
    transition: all 0.6s;
}


.aplicant-grid .field-stud-card:hover{
    color: #fff;
    background-color: var(--violet-color);
}

.applicant-accordion{
    grid-column: span 8;
}

.accordion__item{
    border-bottom: 0.5px solid #9e9e9e;
}

.accordion__header{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 40px;
    line-height: 1;
    font-size: var(--medium-card-size);
}

.accordion__header--img{
    transition: transform 0.4s ease;
}

.acc_active .accordion__header--img{
    transform: rotate(180deg);
}


.accordion__body{
    padding-bottom: 74px;
}


.accordion__text{
    font-size: var(--body-size);
    line-height: 1.4;
    max-width: 675px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.acc_active .accordion__text {
    opacity: 1;
    transform: translateY(0);
}