.events-page-title{
    margin-top: 130px;
    margin-bottom: 73px !important;
    line-height: 1;
}

.events__attention-cards{
    padding-bottom: 100px;
}

.events__attention-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.events__attention-card{
    grid-template-rows: repeat(4, 1fr);
    grid-column: span 4;
}

.events__attention-card{
    background-color: var(--violet-color);
    padding: 30px;
}

.events__attention-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events__atention-tag{
    font-size: 10px;
    color: #000;
    padding: 3px 6px;
    background-color: #fff;
    border-radius: 5px;
    display: none;
}

.events__atention-date{
    font-size: var(--body-size);
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 5px;
    line-height: 1.4;
}

.events__attention-title{
    font-size: var(--medium-card-size);
    line-height: 1;
    color: #fff;
    max-width: 215px;
    margin-bottom: 73px;
}

.events__attention-text{
    color: #fff;
    max-width: 322px;
}


/* только мобильные */

.event__attention-subtitle{
    font-weight: 600;
    font-size: var(--section-mob-size);
    line-height: var(--lineright-110);
    margin-bottom: 15px;
    display: none;
}


.swiper-events{
    min-height: 250px;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom: 56px;
    display: none;
}

.swiper-events .swiper-scrollbar{
    display: block;
    position: static;
    height: 4px;
    background-color: #E2E2EF !important;
    touch-action: none;

}

.swiper-events .swiper-wrapper{
    height: 100%;
    min-height: 250px;
    margin-bottom: 20px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    max-width: calc(100vw - 20px);
}

.swiper-events .swiper-wrapper .swiper-slide{
    width: 100%;
    background-color: #fff;
}

.swiper-events .events-swiper__img{
    position: static;
    width: 100%;
    max-height: 200px;
    margin-bottom: 20px;
}

.swiper-events__content{
    padding-left: 20px;
    padding-right: 23px;
    padding-bottom: 20px;
}

.swiper-events__date{
    font-weight: 300;
    font-size: 30px;
    line-height: 110%;
    color: var(--dark-color);
    margin-bottom: 8px;
}

.swiper-events__title{
    font-weight: 500;
    font-size: var(--text2-2-mob-size);
    line-height: 100%;
    margin-bottom: 92px;
    max-width: 182px;
}

.swiper-events__group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swiper-events .swiper-scrollbar-drag{
    background: #680AFF;
} 

/* только мобильные */

@media(max-width: 1200px){
    .events-page-title{
        font-size: 70px !important;
    }
}

@media (max-width: 990px) {
    .events__attention-grid{
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 690px) {
    .events__attention-grid{
        grid-template-columns: repeat(6, 1fr);
    }
    .events__attention-card{
        grid-template-rows: repeat(5, 1fr);
        grid-column: 1 /span 5;
    }
    
}

@media (max-width: 540px) {
    .events-page-title{
        margin-bottom: 60px;
        margin-top: 80px;
        font-size: 50px !important;
    }
    .swiper-events{
        display: block;
    }

    .event__attention-subtitle{
        display: block;
    }

    .events__attention-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .events__attention-card{
        grid-template-rows: repeat(4, 1fr);
        grid-column: span 4;
        background-color: var(--important-color);
        padding: 20px;
    }
    
    .events__atention-date{
        font-size: 10px;
        color: rgba(0, 0, 0, 0.29);
        margin-bottom: 6px;
        line-height: 1;
    }

    .events__atention-tag{
        display: block;
    }

    .events__attention-title{
        font-size: var(--text2-2-mob-size);
        line-height: 1;
        color: #000;
        max-width: 200px;
        margin-bottom: 36px;
    }

    .events__attention-text{
        font-size: var(--body-mob-size);
        color: #000;
        max-width: 263px;
    }
}