.event{
    padding-bottom: 200px;
}

.event__table{
    margin-bottom: 80px;
}

.event__table tbody{
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.event__table-attribute{
    font-size: 16px;
    color: #000;
    max-width: 119px;
    width: 100%;
}

.event__table tr{
    display: flex;
    gap: 59px;
}

.event__table-text{
    font-weight: 600;
    font-size: 25px;
    width: 100%;
    line-height: 32px;
}

.event__registration{
    display: flex;
    gap: 123px;
    align-items: center;
}

.event__registration-link{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: 14px 64px;
    color: #fff;
    background-color: var(--violet-color);
}

.event__registration-text{
    max-width: 254px;
    font-size: var(--body-size);
    line-height: 1.4;
    color: #000;
}

.event__description{
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.event__description{
    font-size: 20px;
    line-height: 1.4;
    color: #000;
    max-width: 562px;
}



.event__description-list li{
    margin-left: 30px;
}

.event__description-link{
    text-decoration: underline;
    text-decoration-skip-ink: none;
}


@media (max-width: 1246px) {
    
}