
.new__title{
    font-size: 20px;
    line-height: 1.4;
    color: #000;
    max-width: 562px;
    font-weight: 400;
    margin-bottom: 30px;
}

.new__group-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.new__text{
    font-size: 15px;
    max-width: 562px;
}

.new__gallery{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding-top: 137px;
    justify-items: center
}

.gallery-img{
    grid-template-rows: repeat(3, 1fr);
    grid-column: span 3;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    padding-bottom: 72px;

}

.new__video{
    padding-bottom: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}