.partners{
    margin-bottom: 200px;
    background-color: #fff;
    padding-bottom: 37px;
    padding-top: 66px;
}

.partners__title{
    margin-left: 66px;
    font-weight: 500;
    font-size: 40px;
    line-height: var(--lineright-110);
    text-transform: uppercase;
    color: #000;
    margin-bottom: 67px;
}

.partners__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.partner__card{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

@media (max-width: 1200px) {
    .partners {
        margin-bottom: 100px;
    }
    .partners__title {
        margin-left: 25px;
    }
    .partners__cards{
        justify-content: center;
    }
    .partner__card{
        flex-basis: 30%;
    }
}

@media (max-width: 1050px) {
    .partners {
        margin-bottom: 60px;
    }
}

@media (max-width: 930px) {
    .partner__card{
        flex-basis: 45%;
    }
}

@media (max-width: 630px) {
    .partners{
        margin-bottom: 70px;
    }
    .partners__title{
        font-weight: 600;
        font-size: 20px;
        margin-left: 0;
        margin-bottom: 19px;
    }
    .partners__cards{
        justify-content: center;
        gap: 20px;
    }
    .partner__card{
        flex-basis: 40%;
        margin-bottom: 0px;
        min-height: 166px;
    }
}

@media (max-width: 575px) {
    .partners__cards{
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    .partner__card{
        flex-basis: 90%;
        margin-bottom: 0px;
        min-height: 100px;
    }
}