

.student-promo .navigation__big-links{
    display: grid;
    max-height: 350px;
    grid-template-rows: 2fr 1fr;
    gap: 10px;
}

.student-promo .navigation__main-link:first-child{
    background-color: var(--violet-color);
    height: 100%;
    font-weight: 500;
}

.student-promo .navigation__main-link:last-child{
    background-color: var(--violet-light-color);
    color: var(--dark-color);
    font-weight: 500;
    height: 100%;
}

.student-info .field-stud-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.curator__card{
    grid-column: span 4;
    display: flex;
    max-height: 350px;
    background-color: var(--dark-color);
    color: #fff;
}

.curator-picture{
    width: 50%;

}

.curator-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.curator-info{
    padding: 18px 19px 20px 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.curator__card__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.curator__card__title{
    font-weight: 500;
    font-size: 16px;
    line-height: var(--lineright-110);
    max-width: 144px;
}

.curator__card__arrow img{
    width: 20px;
    height: 20px;
}

.curator__card-tags{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    max-width: 155px;
    list-style: none;
}

.curator__card-tag{
    padding: 3px 8px;
    width: fit-content;
    display: block;
    border-radius: 5px;
    color: #000;
    background-color: #cec7ff;
}

.curator__card__tags__row{
    flex-basis: 100%;
}

.templates-inner-accordion .acc_active .accordion__header--img{
    transform: rotate(180deg);
}

.templates-inner-accordion .accordion__header {
    font-size: 20px;
    color: var(--dark-color)
}

.templates-inner-accordion .accordion__item:last-child{
    border-bottom: none;
}

.templates-accordion .accordion__body--inner{
    padding-bottom: 0;
}

.templates-inner-accordion .acc_section.acc_active .accordion__body.acc_content{
    padding-bottom: 74px;
}


.templates-accordion .accordion__header{
    padding-left: 28px;
}

.templates-accordion .accordion__body--inner .acc_active{
    background-color: #fff;

}

.templates-accordion .accordion__body--inner .acc_active .acc_content{
}

.templates__download{
    padding-left: 28px;
}

.templates__download {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 78px;
}

.templates__download-group{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.templates__download-item a{
    display: flex;
    align-items: center;
    gap: 9px;
}

.templates__download-item a span{
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-size: 16px;
    color: #000;
}

.templates__download__all{
    background: #d9d9d9;
    padding: 22px 33px;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}