
.field-stud-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px; 
}


.field-stud-row {
    display: grid;
    grid-template-columns: subgrid; 
    grid-column: span 8; 
}

/* Строка прижата к правому краю */
.field-stud-row--right {
    grid-column-start: 5; 
    grid-column-end: span 8; 
}

/* Строка прижата к левому краю */
.field-stud-row--left {
    grid-column: span 8; 
}

/* Карточки занимают 4 колонки */
.field-stud-card {
    grid-column: span 4; 
}



@media (max-width: 1205px) {
    .field-stud-grid {
        grid-template-columns: repeat(9, 1fr);
        gap: 10px;
    }
    .field-stud-row{
        display: grid;
        grid-template-columns: subgrid; 
        grid-column: span 9; 
    }
    
    /* Первый ряд - одна карточка на 6 колонок справа */
    .field-stud-row--right:first-child .field-stud-card {
        grid-column: 4 / span 3;
    }
    
    /* Второй ряд - две карточки по 4 колонки */
    .field-stud-row--left .field-stud-card:first-child {
        grid-column: 1 / span 3;
    }
    
    .field-stud-row--left .field-stud-card:nth-child(2) {
        grid-column: 4 / span 3;
    }
    
    /* Третий ряд - карточка на 5 колонок и кнопка на 3 колонки */
    .field-stud-row--right:nth-child(3) .field-stud-card:first-child {
        grid-column: 4 / span 3;
    }
    
    .field-stud-row--right:nth-child(3) .field-stud-card--all {
        grid-column: 7 / span 3;
    }
    
    /* Адаптация контента для планшетов */
    .field-stud-card {
        padding: 22px;
    }
    .field-stud-tags {
        margin-bottom: 60px;
    }
    
    .field-stud-card__title {
        font-size: 1.3rem;
    }
    .field-stud-card__subtitle {
        font-size: 23px;
    }
    
    .field-stud-text {
        font-size: 0.95rem;
    }
}

@media (max-width: 930px) {
    .field-stud{
        margin-bottom: 79px;
    }
    .field-stud-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .field-stud-row {
        grid-template-columns: subgrid;
    }
    
    .field-stud-row--right,
    .field-stud-row--left {
        grid-column: span 4; /* На мобильных все строки занимают всю ширину */
    }
    
    
    .field-stud-card,
    .field-stud-card--all {
        grid-column: span 2 !important; /* карточка  всю ширину */
    }

    .field-stud-row--right:first-child .field-stud-card{
        grid-column: 3 / span 2 !important;
    }
}

@media (max-width: 630px) {
    .field-stud .promo-title{
        font-size: 28px;
    }

    .field-stud .section-title{
        margin-bottom: 20px;
    }
    .field-stud .section-title .section-title--mobile{
        display: block;
        font-size: 20px
    }
    .field-stud .section-title .section-title--desctop{
        display: none;
    }

    .field-stud-card,
    .field-stud-card--all {
        min-height: 343px;
        grid-column: span 4 !important; /* карточка  всю ширину */
    }
    .field-stud-row--right:first-child .field-stud-card{
        grid-column:  span 4 !important;
    }

    .field-stud-card{
        margin-bottom: 10px;
    }
    .field-stud-card--all{
        min-height: 0;
        background: var(--violet-color);
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        text-transform: uppercase;
    }

    
}

@media (max-width: 460px) {
    .field-stud .fiel-stud-grid{
        display: none;
    }
    .field-stud-card{
        padding: 20px;
    }
    .field-stud-card__header{
        margin-bottom: 20px;
    }
    .field-stud-card__title{
        line-height: 100%;
        font-size: var(--title-2-mob-size);
    }
    .field-stud-card__arrow{
        display: none;
    }
    .field-stud-tags{
        gap: 5px;
        margin-bottom: 73px;
    }
    .field-stud-tag{
        font-size: 10px;
    }
    .field-stud-text{
        font-size: var(--body-mob-size);
    }
    .field-stud-card--all .field-stud-card__title{
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .field-stud-card--all .field-stud-card__title::after{
        content: ">";
        display: block;
    }
}