/* Названия страниц */
.page-title{
    font-size: var(--title-1-size);
    font-weight: 400;
    margin-bottom: 60px;
    line-height: var(--lineright-100);
    margin-top: 130px;
}

/* Мобильные */
@media (max-width: 550px) {
    .page-title{
        font-size: var(--title-1-mob-size);
    }
}