/* Сотрудники, Полезное */
.section-title--big{
    font-size: 80px;
    line-height: 0.9;
    max-width: 1278px;
    color: #000;
    font-weight: 400;
    margin-bottom: 120px;
}

@media (max-width: 1200px) {
    .section-title--big {
        margin-bottom: 60px;
        font-size: 60px;
    }
}

@media (max-width: 1050px) {
    .section-title--big{
        font-size: 40px;
    }
}

@media (max-width: 900px) {
    .section-title--big{
        font-size: 35px;
    }
}


/* Мобильные */
@media (max-width: 550px) {
    .section-title--big{
        font-size: 35px;
    }
}