/* Названия разделов на страницах */
.section-title{
    font-size: var(--title-2-size);
    line-height: var(--lineright-110);
    font-weight: 500;
}

.divide .section-title{
    grid-column: span 4;
}

/* Мобильные */
@media (max-width: 550px) {
    .section-title{
        font-weight: 600;
        font-size: var(--section-mob-size);
    }
    
    /* Занимает всю ширину */
    .divide .section-title{
        grid-column: span 4;
    }
}