/* ВАЖНОЕ Карточки */
.events-important__grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.events-important__card{
    grid-template-rows: repeat(4, 1fr);
    grid-column: span 4;
}


.events-page-title{
    margin-top: 130px;
    margin-bottom: 73px !important;
    line-height: 1;
}

.events-important{
    padding-bottom: 100px;
}



.events-important__card{
    background-color: var(--violet-color);
    padding: 30px;
}

.events-important__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events-important__tag{
    font-size: 10px;
    color: #000;
    padding: 3px 6px;
    background-color: #fff;
    border-radius: 5px;
    display: none;
}

.events-important__date{
    font-size: var(--body-size);
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 5px;
    line-height: 1.4;
}

.events-important__title{
    font-size: var(--medium-card-size);
    line-height: 1;
    color: #fff;
    max-width: 215px;
    margin-bottom: 73px;
}

.events-important__text{
    color: #fff;
    max-width: 322px;
}
/* ./ВАЖНОЕ */

@media (max-width: 1000px) {
    .events-important__card{
        grid-column: span 6;
    }
}

@media (max-width: 600px) {
    .events-important__card{
        grid-column: span 10;
    }
}

@media (max-width: 550px) {
    .events-important__card{
        grid-column: span 12;
    }
}