.new__gallery{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding-top: 137px;
    justify-items: center
}

.gallery-img{
    grid-template-rows: repeat(3, 1fr);
    grid-column: span 3;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    padding-bottom: 72px;
}

@media (max-width: 768px) {
    .gallery-img{
        grid-column: span 4;
        padding-bottom: 0;
    }
    .gallery-img:last-child{
        padding-bottom: 70px;
    }
}

@media (max-width: 650px) {
    .gallery-img{
        grid-column: span 6;
    }
}

@media (max-width: 550px) {
    .gallery-img{
        grid-column: span 12;
    }
}