.partners{
    background-color: #fff;
    padding-bottom: 37px;
    padding-top: 66px;
}

.partners__title{
    margin-left: 66px;
    font-weight: 500;
    font-size: 40px;
    line-height: var(--lineright-110);
    text-transform: uppercase;
    color: #000;
    margin-bottom: 67px;
}

/* Ноуты */
@media (max-width:1200px) {
    .partners__title{
        font-size: 30px;
    }
}


/* Мобильные */
@media (max-width:544px) {
    .partners__title{
        font-size: var(--section-mob-size);
        margin-bottom: 20px;
        margin-left: 0;
    }
}