.staff__hero .container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding-bottom: 170px;
    margin-top: 90px;
    align-items: flex-end;
}

.staff__hero-group{
    grid-column: span 7;
}

.staff__hero .section-title--big{
    max-width: 789px;
    margin-bottom: 50px;
}

.staff-position{
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 153px;
}

.staff__hero-picture{
    grid-column: span 5;
}

.staff__hero__contacts-title{
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
}

.staff__hero__contacts-email, 
.staff__hero__contacts-adress{
    font-size: 16px;
}
.staff__hero__contacts-address address{
    font-style: normal;
}

.staff__hero__contacts-email{
    display: flex;
    gap: 5px;
    align-items: center;
}

.staff__contacts-link{
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.staff__hero-picture{
    max-width: 332px;
}

.staff__hero-picture img{
    object-fit: cover;
    max-width: 332px;
    width: 100%;
}

/* Информация о сотруднике */
.staff__info .section-title{ 
    grid-column: span 5;
}

.staff-section__group{
    grid-column: span 7;
}


/* Планшеты */
@media (max-width: 1050px) {
    .staff__info .section-title {
        grid-column: span 8;
        margin-bottom: 40px;
    }
    .staff-section__group {
        grid-column: span 8;
    }
}

@media (max-width: 900px) {
    .staff__hero .container {
        grid-template-columns: repeat(8, 1fr);
    }
    .staff__hero-picture{
        grid-column: span 8;
    }
    .staff__hero-group{
        display: flex;
        grid-column: span 8;
        width: 100%;
    }
    .staff__hero__contacts{
        flex-basis: 50%;
        margin-top: 50px;
    }
    .staff-position{
        margin-bottom: 55px;
    }
}

@media (max-width: 650px) {
    .staff__hero-group {
        flex-direction: column;
    }
    .staff-position {
        margin-bottom: 0;
    }
    .staff__hero__contacts{
        margin-bottom: 40px;
    }
}


/* Мобильные */
@media (max-width: 550px) {
    .staff-position{
        font-size: var(--section-mob-size);
    }
    
}