.staff__hero .container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding-bottom: 170px;
    margin-top: 90px;
    align-items: flex-end;
}

.staff__hero-group{
    grid-column: span 7;
}

.staff__hero .section-title--big{
    max-width: 789px;
    margin-bottom: 50px;
}

.staff-position{
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 153px;
}

.staff__hero-picture{
    grid-column: span 5;
}

.staff__hero__contacts-title{
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
}

.staff__hero__contacts-email, 
.staff__hero__contacts-adress{
    font-size: 16px;
}

.staff__hero__contacts-email{
    display: flex;
    gap: 5px;
    align-items: center;
}

.staff__contacts-link{
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.staff__hero-picture{
    max-width: 332px;
}

.staff__hero-picture img{
    object-fit: cover;
}

/* Информация о сотруднике */
.staff__info .section-title{ 
    grid-column: span 5;
}

.staff-section__group{
    grid-column: span 7;
}



/* Мобильные */
@media (max-width: 544px) {
    .staff-position{
        font-size: var(--section-mob-size);
    }
}