
.timeline{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.timeline__item{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}

.timeline__year{
    font-size: var(--body-size);
    line-height: 1.4;
    grid-column: span 1;
}

.timeline__text{
    max-width: 564px;
    grid-column: span 6;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
}

.staff__info .devide_summary{
    grid-column: 7 / span 6;
    margin-top: 60px;
    font-size: 24px;
    line-height: 1.1%;
    color: var(--violet-color);
}

.staff__info .divide__group__subjects{
    grid-column: 7 / span 6;
}

/* Планшеты */
@media (max-width: 1050px) {
    .staff__info .devide_summary {
        grid-column: span 8;
    }
    .staff__info .divide__group__subjects {
        grid-column: span 8;
    }
}

@media (max-width: 750px) {
    .timeline__text{
        font-size: 20px;
    }
}

@media (max-width: 650px) {
    .timeline__year {
        grid-column: span 2;
        margin-bottom: 15px;
    }
    .timeline__text{
        font-size: 18px;
    }
}

/* Мобильные */
@media (max-width: 550px) {
    .timeline__year {
        grid-column: span 2;
        margin-bottom: 15px;
    }
    .timeline__text{
        font-size: 16px;
        grid-column: 3 / span 5;
    }
    .devide_summary p{
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .devide_summary p{
        font-size: 17px;
    }
}

@media (max-width: 350px) {
    .devide_summary p{
        font-size: 14px;
        font-weight: 500;
    }
}