/* EVENTS ALL */
.events-all{
    margin-bottom: 90px;
}

.events-all .section-subtitle{
    margin-bottom: 20px;
}

.events-all__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
}
