
.event__description{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.event__description{
    line-height: 1.4;
    color: #000;
    max-width: 562px;
    font-size: 20px !important;
}

.event__description-list li{
    margin-left: 30px;
}

.event__description-link, .event__contacts-link{
    text-decoration: underline;
    text-decoration-skip-ink: none;
}


